
@{
}

@model Book

<h3>@Model.Title</h3>

<ul>
    <li>Category: @Model.Category</li>
    <li>Author: @Model.Author</li>
    <li>Isbn: @Model.Isbn</li>
    <li>Classification: @Model.Classification</li>
    <li>Price: @Model.Price</li>
    <li>Publisher: @Model.Publisher</li>
    <li>Number of Pages: @Model.PageCount</li>
</ul>
<br />